<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @* Barra de navegação *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            Ecommerce Ecoville
        </a>
    </nav>

    @* Rodapé *@
    <hr />
    <footer>
        <p style="text-align:center">
            &copy; @DateTime.Now.Year - Desenvolvido por Douglas Machula
        </p>
    </footer>
</body>
</html>
